# Data types in numpy

In [1]:
import numpy as np

In [2]:
arr = np.array([1,2,3,4,12,17,18,19,45,32,89,198,432])
print("Data type",arr.dtype)

Data type int32

In [3]:
arr = np.array([1.4,1.6,8.56,9.87,10.87,56.74])
print("Data type",arr.dtype)

Data type float64

In [4]:
arr = np.array(["A","S","D","F","G"])
print("Data type",arr.dtype)

Data type <U1

In [5]:
arr = np.array(["A","S","D","F","G",1,6,5,3,6])
print("Data type",arr.dtype)

Data type <U11

In [6]:
arr = np.array(["A","S","D","F","G",1.98,1.76,45.87,32.98])
print("Data type",arr.dtype)

Data type <U32

In [7]:
arr1 = np.array([3,1,87,76,87,98,90,90,89],dtype=np.int8)
print("Data type: ",arr1.dtype)
print(arr1)

Data type:  int8
[ 3  1 87 76 87 98 90 90 89]

In [8]:
arr2 = np.array([3,1,87,76,87,98,90,90,89],dtype="f")
print("Data type: ",arr2.dtype)
print(arr2)

Data type:  float32
[ 3.  1. 87. 76. 87. 98. 90. 90. 89.]

In [9]:
arr3 = np.array([65,87,98,98,21,87,109,187,165,154,132])
print(arr3)
print("Data type of arr3 was",arr3.dtype)
float_arr = np.float16(arr3)
print(float_arr)
print("Data type of the arr3 after type casting is",float_arr.dtype)
arr3_def = np.int_(float_arr)
print(arr3_def)
print("Data type of arr3 after type casting to the default integer type is",arr3_def.dtype)

[ 65  87  98  98  21  87 109 187 165 154 132]
Data type of arr3 was int32
[ 65.  87.  98.  98.  21.  87. 109. 187. 165. 154. 132.]
Data type of the arr3 after type casting is float16
[ 65  87  98  98  21  87 109 187 165 154 132]
Data type of arr3 after type casting to the default integer type is int32

In [13]:
marks = np.array([44.6,87.98,89.98,23.76,143.7641,9976.1256,3467.98126523,2198.94532187])
print(marks)
print("Data type of the marks array is",marks.dtype)
marks_float32 = np.float32(marks)
print(marks_float32)
print("Data type of the marks array after conversion is",marks_float32.dtype)

[  44.6          87.98         89.98         23.76        143.7641
 9976.1256     3467.98126523 2198.94532187]
Data type of the marks array is float64
[  44.6      87.98     89.98     23.76    143.7641 9976.126  3467.9812
 2198.9453]
Data type of the marks array after conversion is float32

In [23]:
fruits = np.array(["Apple","Orange","Guava","Pineapple","Watermelon","Muskmelon"])
print(fruits)
print("Data type: ",fruits.dtype)

['Apple' 'Orange' 'Guava' 'Pineapple' 'Watermelon' 'Muskmelon']
Data type:  <U10

In [26]:
fruits_price = np.array(["Apple","Orange","Guava","Pineapple","Watermelon","Muskmelon",34,981,908,765,541])
print(fruits_price)
print("Data type: ",fruits_price.dtype)

['Apple' 'Orange' 'Guava' 'Pineapple' 'Watermelon' 'Muskmelon' '34' '981'
 '908' '765' '541']
Data type:  <U11